.nav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 50px;
    padding: 0 20px;
    background: Black;
}

.nav > * {
    padding-right: 20px;
}

.nav .nav-logo {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.thumbs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 48%;
}
.thumb-image {
    width: 100px;
    height: 100px;
}